= form_for [:admin, @page], builder: CustomBuilder do |f|
  - if @page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@page.errors.count, "error")} prohibited this page from being saved:"
      %ul
        - @page.errors.full_messages.each do |message|
          %li= message
  .flex.flex-col.flex-grow.divide-y.space-y-6.lg:flex-row.lg:divide-y-0.lg:space-y-0.lg:space-x-6.lg:justify-between
    .space-y-6.flex-grow
      %h2 About
      .field
        = f.label "Title"
        = f.text_field :about_title
      .field
        = f.label :summary
        = f.text_area :summary, rows: 10
    .pt-6.lg:pt-0.space-y-6.flex-grow
      %h2 Sections
      .field
        = f.label "Services title text"
        = f.text_field :services_title
      .field
        = f.label "Projects title text"
        = f.text_field :projects_title
      .field
        = f.label "Contact title text"
        = f.text_field :contact_title
      .field
        = f.label :contact_number
        = f.text_field :contact_number
    .pt-6.space-y-6.lg:pt-0.lg:flex.lg:flex-col.lg:justify-center
      .field.inline
        = f.label "Set as active page: "
        = f.check_box :active
      .flex.justify-end.space-x-6.lg:justify-center.lg:space-x-0
        = f.submit "Save", class: "button secondary"
  %div.mt-6
    %h2 Images
    = turbo_frame_tag "#{dom_id(@page)}_images" do
      .flex.flex-col.space-y-6.lg:flex-row.lg:justify-center.lg:space-y-0.lg:space-x-6
        .field
          .flex.justify-between.mb-3.h-10
            = f.label "Hero"
            - if @page.hero_image.attached?
              = link_to admin_delete_page_image_path(@page, :hero_image), class: "button-icon inline-block", method: :delete do
                = icon "trash"
          = f.file_field :hero_image, accept: "image/*"
        .field
          .flex.justify-between.mb-3.h-10
            = f.label "About"
            - if @page.about_image.attached?
              = link_to admin_delete_page_image_path(@page, :about_image), class: "button-icon inline-block", method: :delete do
                = icon "trash"
          = f.file_field :about_image, accept: "image/*"
        .field
          .flex.justify-between.mb-3.h-10
            = f.label "Contact"
            - if @page.contact_image.attached?
              = link_to admin_delete_page_image_path(@page, :contact_image), class: "button-icon inline-block", method: :delete do
                = icon "trash"
          = f.file_field :contact_image, accept: "image/*"
