= form_for [:admin, @page] do |f|
  - if @page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@page.errors.count, "error")} prohibited this page from being saved:"
      %ul
        - @page.errors.full_messages.each do |message|
          %li= message
  .flex.flex-col.divide-y.space-y-6
    .space-y-6
      %h2 About
      .field
        = f.label "Title"
        = f.text_field :about_title
      .field
        = f.label :summary
        = f.text_area :summary
    .pt-6.space-y-6
      %h2 Sections
      .field
        = f.label "Services title text"
        = f.text_field :services_title
      .field
        = f.label "Projects title text"
        = f.text_field :projects_title
      .field
        = f.label "Contact title text"
        = f.text_field :contact_title
      .field
        = f.label :contact_number
        = f.text_field :contact_number
    .pt-6.space-y-6
      .field.inline
        = f.label "Set as active page: "
        = f.check_box :active
      .flex.justify-end.space-x-6
        = f.submit "Save", class: "button secondary"
