.flex.flex-col.items-center.space-y-6
  .card
    = render "form"
  .w-full.flex.flex-col.space-y-6.xl:flex-row.xl:space-y-0.xl:space-x-6.xl:items-start
    .card.flex-grow
      %h2.mb-0
        Services
        = turbo_stream_from :services
      = turbo_frame_tag :services, class: "divide-y divide-manatee" do
        - if @page.services.reload.any?
          .flex.justify-between.my-2.space-x-3
            .font-bold.flex-grow Title
            .font-bold.flex-grow Name
            .font-bold.flex-grow Image
          = render @page.services
      = turbo_frame_tag :new_service_form do
        %p.font-bold Add new
        = render "admin/services/form", page: @page, service: @new_service
    .card.flex-grow
      %h2.mb-0
        Projects
        = turbo_stream_from :projects
      = turbo_frame_tag :projects, class: "divide-y divide-manatee" do
        - if @page.projects.reload.any?
          = render @page.projects
      = turbo_frame_tag :new_service_form do
        %p.font-bold Add new
        = render "admin/projects/form", page: @page, project: @new_project
