.grid.grid-cols-1.xl:grid-cols-2.gap-6.justify-items-center
  .card
    = render "form"
  .w-full.max-w-2xl.max-h-full.overflow-y-auto.space-y-6
    .card
      %h2.mb-0
        Services
        = turbo_stream_from :services
      = turbo_frame_tag :services, class: "divide-y divide-manatee" do
        - if @page.services.reload.any?
          .flex.justify-between.my-2.space-x-3
            .font-bold.flex-grow Title
            .font-bold.flex-grow Name
            .w-16
          = render @page.services
      = turbo_frame_tag :new_service_form do
        %p.font-bold Add new
        = render "admin/services/form", page: @page, service: @new_service
    .card
      %h2.mb-0
        Projects
        = turbo_stream_from :projects
      = turbo_frame_tag :projects, class: "divide-y divide-manatee" do
        - if @page.projects.reload.any?
          = render @page.projects
      = turbo_frame_tag :new_service_form do
        %p.font-bold Add new
        = render "admin/projects/form", page: @page, project: @new_project
