%p#notice= notice

%p
  %b Summary:
  = @page.summary
%p
  %b About title:
  = @page.about_title
%p
  %b About text:
  = @page.about_text
%p
  %b Services title:
  = @page.services_title
%p
  %b Projects title:
  = @page.projects_title
%p
  %b Contact title:
  = @page.contact_title
%p
  %b Contact number:
  = @page.contact_number
%p
  %b Active:
  = @page.active

= link_to 'Edit', edit_admin_page_path(@page)
\|
= link_to 'Back', admin_pages_path
