= form_for [:admin, page, service], builder: CustomBuilder, html: { class: "w-full" } do |f|
  - if service.errors.any?
    #error_explanation
      %h2= "#{pluralize(service.errors.count, "error")} prohibited this service from being saved:"
      %ul
        - service.errors.full_messages.each do |message|
          %li= message
  .flex.flex-col.space-y-6.py-6
    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label :description
      = f.text_area :description, rows: 5
      = f.hidden_field :page_id
    .field
      = f.label :image
      = f.file_field :image, accept: "image/*"
    .flex.justify-end.space-x-6
      = f.submit 'Save', class: "button secondary"
      = yield
