= turbo_stream_from :languages
= turbo_stream_from :socials
.flex.flex-col.space-y-6
  .card
    = render "form", profile: current_profile do
      = link_to "Cancel", admin_dashboard_path, class: "button secondary"
  .card
    %h2 Languages
    = turbo_frame_tag :languages do
      .flex.space-x-12.justify-center.flex-wrap
        = render @languages
    %h2 Add new
    = render "admin/languages/form", language: @new_language
  .card
    %h2 Social Networks
    = turbo_frame_tag :socials do
      = render @socials
    %h2 Add new
    = render "admin/socials/form", social: @new_social
