%h1 Listing profiles

%table
  %thead
    %tr
      %th First name
      %th Last name
      %th Role
      %th Location
      %th Visa
      %th Realocation
      %th User
      %th
      %th
      %th

  %tbody
    - @profiles.each do |profile|
      %tr
        %td= profile.first_name
        %td= profile.last_name
        %td= profile.role
        %td= profile.location
        %td= profile.visa
        %td= profile.realocation
        %td= profile.user
        %td= link_to 'Show', profile
        %td= link_to 'Edit', edit_admin_profile_path(profile)
        %td= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Profile', new_admin_profile_path
