%h1 Listing jobs

%table
  %thead
    %tr
      %th Company name
      %th Role
      %th Description
      %th Start date
      %th End date
      %th Profile
      %th
      %th
      %th

  %tbody
    - @jobs.each do |job|
      %tr
        %td= job.company_name
        %td= job.role
        %td= job.description
        %td= job.start_date
        %td= job.end_date
        %td= job.profile
        %td= link_to 'Show', job
        %td= link_to 'Edit', edit_job_path(job)
        %td= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Job', new_job_path
