%p#notice= notice

%p
  %b Company name:
  = @job.company_name
%p
  %b Role:
  = @job.role
%p
  %b Description:
  = @job.description
%p
  %b Start date:
  = @job.start_date
%p
  %b End date:
  = @job.end_date
%p
  %b Profile:
  = @job.profile

= link_to 'Edit', edit_job_path(@job)
\|
= link_to 'Back', jobs_path
