- if @page.present?
  = render "cover"
  = render "about"
  = render "services"
  = render "projects"
  = render "contact"
- else
  .w-full.h-screen.flex.justify-center.items-center.bg-space-cadet
    %h1.text-alice-blue Coming soon
