= form_for @page do |f|
  - if @page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@page.errors.count, "error")} prohibited this page from being saved:"
      %ul
        - @page.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :summary
    = f.text_area :summary
  .field
    = f.label :about_title
    = f.text_field :about_title
  .field
    = f.label :about_text
    = f.text_field :about_text
  .field
    = f.label :services_title
    = f.text_field :services_title
  .field
    = f.label :projects_title
    = f.text_field :projects_title
  .field
    = f.label :contact_title
    = f.text_field :contact_title
  .field
    = f.label :contact_number
    = f.text_field :contact_number
  .field
    = f.label :active
    = f.check_box :active
  .field
    = f.label :profile
    = f.text_field :profile
  .actions
    = f.submit 'Save'
