= turbo_frame_tag dom_id(social), class: "flex justify-between space-x-6 py-3" do
  .flex.flex-col.w-full.space-y-3.items-center
    .text-center
      - if social.icon.attached?
        = rounded_image_tag url_for(social.icon.variant(resize_to_limit: [128, 128]))
    .flex-grow
      %p.font-bold.text-center= social.name
    .flex.items-center.space-x-3.flex-end
      = link_to edit_admin_social_path(social), class: "button-icon" do
        = icon "pencil"
      = button_to admin_social_path(social), method: :delete, class: "button-icon" do
        = icon "trash"
