!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MariogmzCom
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag "admin", "data-turbo-track": "reload"
    = stylesheet_pack_tag "admin", "data-turbo-track": "reload"
  %body{class: "bg-gray-50 md:flex-row"}
    = render "admin/partials/navbar"
    .content{class: "md:w-10/12 2xl:w-11/12 h-full overflow-y-auto"}
      .container{class: "py-4 min-h-full flex flex-col"}
        = yield
